<%= form_for @changeset, Routes.link_path(@conn, :create), fn f -> %>
  <%= label f, :destination_url %>
  <%= text_input f, :destination_url %>
  <%= error_tag f, :destination_url %>

  <%= label f, :vanity_name %>
  <%= text_input f, :vanity_name %>
  <%= error_tag f, :vanity_name %>

  <%= submit "Create Link" %>
<% end %>